<!DOCTYPE html>
<html>
<head>
    <title>CREATE</title>
</head>
<body>
<h1>Create asset</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.vehiclenumber.label }}<br>
            {{ form.vehiclenumber(size=32) }}
        </p>
        <p>
            {{ form.manufacturer.label }}<br>
            {{ form.manufacturer(size=32) }}
        </p>
         <p>
            {{ form.prikey.label }}<br>
            {{ form.prikey(size=32) }}
        </p>
         <p>
            {{ form.pubkey.label }}<br>
            {{ form.pubkey(size=32) }}
        </p>

        <p>{{ form.submit() }}</p>
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <p>{{ messages }}</p>
        {% endif %}
    {% endwith %}
    <a href="{{ url_for('home') }}"> GO HOME</a>
</body>
</html>
